:root {
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --title-color: #212121;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.main h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  /* ВРЕМЕННО */
  background-color: #2f303a;
}

.main h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.12;
  text-align: center;
  color: var(--title-color);
}

.none-decoration {
  list-style-type: none;
}

.header-navigation a,
.navigation-list a,
.header-address a,
.footer a {
  text-decoration: none;
}

.text-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #000000;
}

.logo-left {
  color: var(--accent-color);
}

.nav-refs {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.nav-refs:hover,
.nav-refs:focus {
  color: var(--accent-color);
}

.header-address a {
  color: var(--primary-text-color);
}

.article-title {
  font-weight: 700;
  /* font-size: 14px; */
  line-height: 1.1;
  color: var(--title-color);
}

.team-header.article-title {
  text-transform: uppercase;
}

.footer {
  /* ВРЕМЕННО */
  background-color: #2f303a;
}

.footer .logo-right {
  color: var(--primary-white-color);
}

.footer .header-address {
  color: var(--primary-white-color);
}

.address {
  font-style: normal;
}

.button {
  cursor: pointer;
}
